
/* @media (prefers-color-scheme: dark) {
  :root {
    --accent-bgr-color: rgba(255, 0, 112, 1);
    --accent-shadow-color: rgba(255, 0, 112, 1);
    --accent-title-color: rgba(0, 0, 40, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --link-hover-color: rgba(255, 0, 112, 0.4); 
    --text-color: rgba(241, 178, 206, 1);
    --main-title-color: rgba(219, 0, 255, 1);
    --bground-color: rgba(0, 0, 40, 1);
    --bground-image-src: url(../images/cover-image-dark.png);
  }
}  */

:root.theme-dark {
  --accent-bgr-color: rgba(255, 0, 112, 1);
  --accent-shadow-color: rgba(255, 0, 112, 1);
  --accent-title-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --link-hover-color: rgba(255, 0, 112, 0.4); 
  --text-color: rgba(241, 178, 206, 1);
  --main-title-color: rgba(219, 0, 255, 1);
  --bground-color: rgba(0, 0, 40, 1);
  --bground-image-src: url(../images/cover-image-dark.png);
}
