/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
  /* font-size: 16px; */
}

body {
  min-inline-size: var(--min-width);
  max-inline-size: var(--max-width);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

button,
a {
  color: currentColor;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  font-weight: normal;
	line-height: normal;
}