
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(53, 52, 48, 1);
    --accent-bgr-color: rgba(255, 141, 203, 1);
    --accent-shadow-color: rgba(255, 141, 203, 1);
    --accent-title-color: rgba(53, 52, 48, 1);
    --link-hover-color: rgba(50, 49, 45, 0.4);
    --text-color: rgba(53, 52, 48, 1);
    --main-title-color: rgba(255, 194, 230, 1);
    --bground-color: rgba(255, 241, 247, 1);
    --bground-image-src: url(../images/cover-image-light.png);
  }

  .header::before, .header::after {
    --accent-bgr-color: var(--accent-color);
  }
  
  .footer__title {
    --accent-shadow-color: rgba(255, 0, 112, 1);
  }
  
  .dec-element {
    display: none;
  }
  
  .footer::before, .footer::after {
    --accent-bgr-color: var(--accent-color);
  }
} 

:root.theme-light {
  --accent-color: rgba(53, 52, 48, 1);
  --accent-bgr-color: rgba(255, 141, 203, 1);
  --accent-shadow-color: rgba(255, 141, 203, 1);
  --accent-title-color: rgba(53, 52, 48, 1);
  --link-hover-color: rgba(50, 49, 45, 0.4);
  --text-color: rgba(53, 52, 48, 1);
  --main-title-color: rgba(255, 194, 230, 1);
  --bground-color: rgba(255, 241, 247, 1);
  --bground-image-src: url(../images/cover-image-light.png);
}

.theme-light .header::before, .header::after {
  --accent-bgr-color: var(--accent-color);
}

.theme-light .footer__title {
  --accent-shadow-color: rgba(255, 0, 112, 1);
}

.theme-light .dec-element {
  display: none;
}

.theme-light .footer::before, .footer::after {
  --accent-bgr-color: var(--accent-color);
}